@model IEnumerable<BooksOnLoan.Models.Transactions>

@{
    ViewData["Title"] = "My Bookings";
}
<h1>My Books</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AspNetUserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book.CodeNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CheckoutDate)
            </th>
             <th>
                @Html.DisplayNameFor(model => model.ReturnDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        using (Html.BeginForm())
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AspNetUserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Book.CodeNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Book.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.CheckoutDate)
            </td> 
            @if (item.ReturnDate > DateTime.Today)
            {
                <td style="color: red;">
                    @Html.DisplayFor(modelItem => item.ReturnDate)
                </td> 
            }else{
                 <td>
                    @Html.DisplayFor(modelItem => item.ReturnDate)
                </td> 
            }
            
        </tr>
        }
    }    
    </tbody>       
</table>
<script type="text/javascript">
ShowPopup = function (id) {
window.open('/Transactions/Email/'+id , "PopupWindow", 'width=400px,height=400px,top=150,left=250');
}
</script>